[Unit]
Description=The PHP 8 FastCGI Process Manager
After=network.target

[Service]
Type=simple
PIDFile=/usr/local/php8/var/run/php-fpm.pid
ExecStart=/usr/local/bin/php-fpm --nodaemonize --fpm-config /usr/local/php8/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

